/* TEXT */

* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
    color: #F53C3C;
}

h3 {
    font-size: 24px;
    color: #F53C3C;
    font-weight: 500;
}

h2 {
    font-size: 29px;
    color: #F53C3C;
    font-weight: 500;
}

p {
    color: whitesmoke;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}

/*NAVIGATION BAR*/

ul {
    list-style-type: none;
    padding: 10px 30px 5px 30px;
}

nav li {
    display: inline;
}

a {
    color: whitesmoke;
    margin-right: 5px;
    font-size: 18px;
}

a:hover {
    color: #F53C3C;
    font-weight: 900;
}

/*BODY PC*/

body {
    background-image: url("./Assets/background.png");
    background-repeat: repeat;
    overflow-x: hidden;
    padding: 30px;
}

.redborder {
    border-style: double;
    border-color: #F53C3C;
    margin: auto;
    width: 95%;
    padding: 20px;
}

.gridcompanies {
    background-color: whitesmoke;
    border-radius: 10px;
    display: grid;
    padding: 5px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-around;
}

.imgcompany {
    padding: 5px;
    width: 200px;
    margin: 5px;
}

.infomality {
    width: 75px;
}

.cal {
    padding: 10px;
    margin: auto;
    background-color: rgb(44, 44, 44);
}

.people {
    display: grid;
    padding: 10px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.stack-grid {
    display: grid;
    padding: 10px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;
}

.stack-logo {
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.colum4 {
    grid-template-columns: auto auto auto auto;
}

/*BODY TABLET*/

@media only screen and (max-width: 1100px) {
    .people {
        display: grid;
        padding: 10px;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto auto;
    }
}

/*BODY MOBILE*/

@media only screen and (max-width: 600px) {
    /* TEXT */
    h1 {
        font-size: 32px;
    }
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        padding: 5px;
    }
    /*NAVIGATION BAR*/
    ul {
        list-style-type: none;
        padding: 5px 20px 5px 20px;
    }
    nav li {
        display: inline;
    }
    a {
        font-size: 16px;
    }
    /*BODY PC*/
    body {
        padding: 10px;
    }
    .redborder {
        padding: 5px;
    }
    .gridcompanies {
        padding: 5px;
        grid-template-columns: auto auto auto auto;
        margin: 10px;
        justify-content: space-evenly;
    }
    .imgcompany {
        padding: 5px;
        width: 50px;
        margin: 5px;
    }
    .infomality {
        width: 25px;
    }
    .cal {
        padding: 5px;
    }
    .stack-grid {
        display: grid;
        padding: 5px;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto;
    }
    .stack-logo {
        margin: 5px;
        padding: 5px;
        width: 50px;
        height: 50px;
    }
    .colum4 {
        grid-template-columns: auto auto auto;
    }
    .people {
        display: grid;
        padding: 10px;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto;
    }
}